*{
	margin: 0;
	padding:0;
}

body
{
 
}





/*Star of header*/

header{
	background-image: url("tatoo.gif"); 
}

img{
	width: 100%;
	height: 300px;
	 
}

nav, a{
	background-color: #9C6300;
	/*#B07510; */
	text-align: center;
	padding:1em;
}


a{
	/*height: 2,5%;*/
	color: white; 
	font-weight:bold;
	font-family:'Baloo Bhaina', cursive;
}

 /*End of header*/


 /*star of div */


div{
 	background-color: black;
	display: flex;
    justify-content: center;
    align-items: center;
}


 h1{
	color: white;
	#9C6300;
	text-align: center;
	font-family:'Baloo Bhaina', cursive;
	font-size: 2em;
	padding-left: 60px;
}

p{
	padding: 2em; 
	text-align: center;
	color: white;
	font-family:'Baloo Bhaina', cursive;
	padding-left:60px; 
}

span
{
	color: #9C6300;
}

.maori2{
	padding-left: 7em;
}
/*end of div*/


/*star of footer*/
footer{
	background-color: green;
	height: 50px;
	margin: 0;
	padding: auto;
	padding-top: 30%;

}
/*end of footer*/


/****************************************************************************************************************
************************************************Artists Page*************************************************
*************************************************************************************************************
*************************************************************************************************************/


h4
{
	color: white;
	text-align: center;
}